@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --main-font : Poppins !important;
}
body {
  margin: 0;
  font-family:var(--main-font);
}