.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ourstory_img {
    max-width: 360px;
    max-height: auto;
    border-radius: 15px;
}

@media (min-width: 1200px) {
    .ourstory_img {
        max-width: 360px;
        max-height: 320px;
        border-radius: 15px;
        margin-left: 150px;
    }
}

.container-fluid {
    align-items: center;
}

.numbers_card {
    height: auto;
    width: auto;
    min-width: 200px;
    min-height: 200px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px rgb(59, 59, 59);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.crad_img {
    height: 70px;
    width: 70px;
}

.rate {
    height: 40px;
    width: 160px;
}



.our_team {
    color: rgb(17, 75, 184);
}

.team_img {
    border-radius: 10px 10px 0 0;
}

.team_card {
    height: auto;
    width: auto;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 15px;
}
.client_outer_card{
    height: auto;
    width: auto;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 30px;
    
}
.rating{
    height: 100px;
    width: 120px;
    float: right;
}
.client_inner_card{
    height: auto;
    width: auto;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    margin-top: 50px;
}
.profile-img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -70px;     /* FLOATING EFFECT */
  background: #fff;
  padding: 5px;
}
.section-title {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 32px;
  font-weight: 700;
}

.section-title::before,
.section-title::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #9e9e9e;
}

.section-title span {
  color: #053e94;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  margin: 20px 0;
}