.bg_container {
    background-image: url('/contact_bg.png');
    height: 60vh;
}

.contact-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    color: white;
    z-index: 0;
}

.bg_contact {
    background-color: aliceblue;
    padding: 50px;
}


.address_card {
    max-width: auto;
    max-height: auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.con_bg {
    background-color: aliceblue;
    padding: 10px;
    margin-right: 10px;
    border-radius: 8px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_card {
    max-width: auto;
    max-height: auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.get_started{
    height: 45px;
    width: 160px;
    background-color: rgb(255, 217, 0);
    border-radius: 10px;
    border-width: 0px;
    font-size: 17px;
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
}