.footer_bg_img {
    width: 100%;
    height: 360px;
}

.footer {
    background-color: #172846;
    height: auto;
    padding: 30px 60px 30px 60px;
}

.footer_card {
    height: auto;
    width: 550px;
}

.footer_logo {
    height: 80px;
    width: 200px;
}

.footer_text {
    color: #ffffff;
}

.footer_heading {
    color: #ffffff;
    font-size: 20px;
}

.footer_links {
    color: #ff0000;
    font-size: 16px;
}

.footer_link:hover {
    color: #00f7ff;
    font-size: 16px;
}

.footer_bottom_bg {
    background-color: #00c5bb;
}

.footer_bottom_text {
    color: #ffffff;
    font-size: 14px;
}