/* .bg_home_container {
    background-image: url('bg_home.png');
    height: 100vh;
    background-size: cover;
} */
.video-container {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center bottom;
    z-index: -1;
}

/* .video-container::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
} */

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 0;
}
.search_card {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 6px;
    height: auto;
    width: auto;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.myselect {
    width: 200px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.btnn {
    height: 45px;
    width: 130px;
    background-color: #d8422f;
    color: rgb(255, 255, 255);
    padding: 6px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
/* 
.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: 20px 0;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: rgba(0, 0, 0, 0.4);
}

.divider span {
    padding: 0px 12px;
    font-size: 35px;
    font-weight: bold;
}

.divider .top_place {
    padding: 0px 12px;
    font-size: 15px;
} */
.sub-title {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 17px;
  font-weight: 500;
}

.sub-title::before,
.sub-title::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #9e9e9e;
}


.adveture_card {
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

.adventure_title {
    font-size: 21px;
    font-weight: bold;
    color: #0f45aa;
}

.adventure_text {
    font-size: 16px;
    color: #555555;
}

.adventure_img1 {
    height: 70px;
    width: 130px;
}

.adventure_img2 {
    height: 70px;
    width: 100px;
}

.adventure_img3 {
    height: 100px;
    width: 100px;
}

.explore_title {
    font-weight: bold;
    color: #0f45aa;
}

.destination_img {
    height: 350px;
    width: 250px;
    border-radius: 10px;
}

/* .destination_card_subtitle {
    background-color: #1c4eaa;
} */
.destination_card1 {
    background-image: url('destination1.jpg');
    background-size: cover;
    height: 350px;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

.destination_card2 {
    background-image: url('destination2.jpg');
    background-size: cover;
    height: 350px;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

.destination_card3 {
    background-image: url('destination3.jpg');
    background-size: cover;
    height: 350px;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

.destination_card4 {
    background-image: url('destination4.jpg');
    background-size: cover;
    height: 350px;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

.destination_card5 {
    background-image: url('destination5.jpg');
    background-size: cover;
    height: 350px;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

.butnn {
    height: 45px;
    width: auto;
    background-color: #1c4eaa;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}

.why_Travel_Us {
    background-color: #f1f1f1;
    padding: 40px 0;
}

.why_title {
    position: absolute;
    transform: translate(200%, -250%);
    font-size: 28px;
    font-weight: bold;
    background-color: #f1f1f1;
}

.Travel_us_card {
    background-color: rgb(255, 255, 255);
    height: 220px;
    width: 75%;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    display: block;
    margin: 20px auto;
}

.trav_card {
    height: 180px;
    width: 300px;
}

.trav_img {
    height: 80px;
    width: 100px;
}

.trav_title {
    color: #0f45aa;
    font-weight: bold;
}

.trav_text {
    color: #555555;
    font-size: 14px;
}

