.cat_card{
    height: 70px;
    width: 600px;
    background-color:aliceblue;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 8px;
}

a{
    text-decoration: none !important;
    font-size: 18px !important;
    color: black !important;
    font-weight: 500 !important;
}
.v-divider {
  width: 2px;
  height: 25px;
  background-color: rgba(65, 65, 65, 0.4);
}
.tabs-container {
  display: flex;
  align-items: center;
  background-color: aliceblue;
  padding: 14px 14px;
  border-radius: 10px;
  width: fit-content;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.tab-wrapper {
  display: flex;
  align-items: center;
}

.tab-btn {
  background: transparent;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #333;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.tab-btn:hover {
  background: #f1f3f5;
}

.tab-btn.active {
  background: #08439c;
  color: #fff;
}

.divider {
  width: 2px;
  height: 22px;
  background-color: #a3a3a3;
  margin: 0 8px;
}
.portfolio_grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 20px;
  padding: 40px;
}

.portfolio_card {
  background: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  height: auto;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.portfolio_card:hover {
  transform: translateY(-10px);
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.card-body {
  padding: 20px;
}

.card-btn {
  background: #0054a3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
.card-btn:hover {
  background: #00cddb;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}
